[submodule "crosscorr2017"]
	path = crosscorr2017
	url = https://github.com/kheegan/crosscorr2017.git
[submodule "vega"]
	path = vega
	url = https://github.com/andreicuceu/vega.git
[submodule "illustris_python"]
	path = illustris_python
	url = https://github.com/illustristng/illustris_python.git
[submodule "SHMR_COSMOS2020"]
	path = SHMR_COSMOS2020
	url = git@github.com:mShuntov/SHMR_COSMOS2020.git
